# Core Framework
fastapi
uvicorn[standard]
python-dotenv

# Confluence API
atlassian-python-api

# Language Model & Vector Embeddings
langchain
langchain-community
langchain-core
langgraph
langchain-mistralai
ollama

# Vector Store
psycopg2-binary
pgvector

# Search
opensearch-py

# Document Processing
unstructured
beautifulsoup4
html2text

# For embedding model
sentence-transformers

# Neo4j Driver
neo4j

# Ragas Evaluation
ragas
pandas
ipywidgets
# Note: Ragas also relies on many of the langchain, etc. libraries already listed above.
